:root {
    --bg1: #30833ed2;
    --bg2: rgb(44,42,42);
    --body: rgb(95,86,86);
    --brand: #f2b03b;
    --white: rgb(156,154,154);
    --p: rgb(161,150,150);
}

a {
    text-decoration: none;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

#banner {
    background:url(https://img.freepik.com/free-photo/small-water-drops-leaf_23-2147811164.jpg?t=st=1714618098~exp=1714621698~hmac=4d342d28cbb9991b251b11dc0c0c284e4f8405eb23a2f6005da02069b1562b9a&w=1380);
    height: 100vh; 
    background-size: cover;  
}

/* */
.navbar {
    background:linear-gradient(to bottom, hsla(120, 100%, 6%, 0.829), rgba(96, 167, 120, 0.884));
}

.navbar .nav-link:hover {
    color: var(--brand);
}

.nav-link{
    color: rgb(249, 251, 252);
}

.btn {
    padding: 15px;
    transition: all 0.4s ease;
    font-weight: 800;
    border-radius: 0;
}

.btn-brand {
    background-color: var(--brand);
}

.btn-brand:hover {
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.icon-box-img {
    width: 40%;
}

.btn-outline-brand {
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand:hover {
    background-color: var(--brand);
    color: var(--bg1);
}

.card {
    transition: background-color 0.3s, color o.3s;
}

.card:hover {
    background-color: var(--bg1);
}

.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn{
    color: #FFF;
}

#cta {
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* parallax effect*/
    background-attachment: fixed;
    /*parallax effect / to remove to effect set to normal*/
    background-image: url(https://img.freepik.com/free-photo/small-water-drops-leaf_23-2147811164.jpg?t=st=1714618098~exp=1714621698~hmac=4d342d28cbb9991b251b11dc0c0c284e4f8405eb23a2f6005da02069b1562b9a&w=1380);
    min-height: 70vh;
}
#about {
    background-color: whitesmoke;
}
#services {
    background-color: #178352d2;
}

#reviews {
    background-color: #178352d2;
}

.testimonials {
    background-color: rgb(252, 248, 248);
    padding: 30px;
}

.testimonials img {
    width: 65px;
    border-radius: 100px;
    height: 65px;
}

#reviews a {
    color: var(--brand);
}

.faq-section {
    max-width: 800px;
    margin: auto;
}

.accordion-item {
    margin-bottom: 20px;
    border-radius: 0;
}

.accordion-button {
    background-color: #f5f3f0;
    border: none;
    border-bottom: 1px solid #f5fcf6;
    border-radius: 0;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color:rgb(0, 8, 8);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.faq-answer p {
    margin-bottom: 0;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: var(--bg1);
}

/* Hover effect for FAQ questions */
.accordion-button:hover {
    background-color:  #13c287; /* change backgroundcolor on hover*/
    color: rgb(237, 241, 245); /* change text color on hover*/
}

/* Adjust accordion icon*/
.accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content:""; /* plus icon*/
    float: right;
    font-weight: 900;
    margin-left: auto;
}

.accordion-button[aria-expanded="true"]::after {
    content:""; /*minus icon*/ 
}

.fw-bold{
    font-family: "american";
}
.footer .container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer h5 {
    margin-bottom: 20px;
}

.footer p {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .footer .col-md-3 {
        margin-bottom: 30px;
    }
}
#footer {
    background-color: #178352d2;
}